<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400&display=swap" rel="stylesheet">
    <style>*{font-family: 'Noto Sans KR', sans-serif;}
    .info{
        display: block;
        background: #FFF;
        color: #000;
        text-align: center;
        line-height:12px;
        border-style: solid;
        border-width: 2px;
        border-color: #3df863;
        border-radius:23px;
        padding:0px 10px 0px 10px;
    }
    .name{
        margin: 10px;
    }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>경기요 - 경기대 맛집리스트</title>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=dol835p4ve"></script>
</head>
<body>
<div id="map" style="width:100%;height:900px;"></div>

<script>
    var mapOptions = {
        center: new naver.maps.LatLng(37.3006759, 127.035805),
        zoom: 10
    };

    var map = new naver.maps.Map('map', mapOptions);

    var HOME_PATH = window.HOME_PATH || '.';
    var cityhall = new naver.maps.LatLng(37.3006759, 127.035805),
        map = new naver.maps.Map('map', {
            center: cityhall,
            zoom: 15
        }),
        marker = new naver.maps.Marker({
            map: map,
            position: cityhall
        });

    // var contentString = [
    //     '<div class="iw_inner">',
    //     '   <h3 class="h3">  title  </h3>',
    //     '   <p class="con"> 양도 줄었고 기존에 있던 메뉴들이 대부분 사라짐</p>',
    //     '   <p class="star"> 평점 : 4.3</p>',
    //     '</div>'
    // ].join('');
    var infowindow = new naver.maps.InfoWindow({
        content: '<span class="info">' +
            '<h3 class="name">카타르시스</h3>' +
            '<p class="text">맛 좋더라 캬아아</p>' +
            '' +
            '' +
            '</span>',
        maxWidth: 200,
        backgroundColor: "",
        borderWidth: "",
        disableAnchor: true,
        anchorSize: new naver.maps.Size(15, 2),
        anchorSkew: false,
        anchorColor: "",
        pixelOffset: new naver.maps.Point(0, -20)
    });

    naver.maps.Event.addListener(marker, "click", function(e) {
        if (infowindow.getMap()) {
            infowindow.close();
        } else {
            infowindow.open(map, marker);
        }
    });

</script>
</body>
</html>