<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <form action="/members/new" method="post">
        <table>
            <tr>
                비밀번호 :
                <input placeholder="비밀번호" type="text" name="password">
            </tr>
            <tr>
                이름 :
                <input placeholder="이름" type="text" name="name">
            </tr>
            <tr>
                이메일 :
                <input placeholder="email@email.com" type="text" name="email">
            </tr>
            <tr>
                전화번호 :
                <input placeholder="010-0000-0000" type="text" name="phone">
            </tr>
        </table>
        <button type="submit">회원가입</button>
    </form>
</div> <!-- /container -->
</body>
</html>